@charset 'UTF-8';
body {
    overflow-y: scroll;
}
.MuiCollapse-root {
    transition: 0.3s !important;
}
.main_content {
    max-width: 1400px;
    width: 100%;
}
.acc_list_basic {
    .MuiAccordion-root {
        &:before {
            z-index: 10;
        }
        &.Mui-expanded {
            .MuiAccordionSummary-root {
                background: var(--color-gray-02);
                .tit {
                    font-weight: 600;
                }
            }
        }
        .MuiAccordionSummary-root {
            transition: 0.5s;
            transform-origin: center;
            background: var(--color-gray-01);
            .MuiAccordionSummary-content {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            .tit {
                color: inherit;
                font-size: 20px;
                font-weight: 400;
                transition: inherit;
            }
        }
    }
    .color_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
        max-width: 800px;
        & > li {
            width: calc(33% - 10px);
            height: 150px;
            display: flex;
            margin-bottom: 20px;
            flex-direction: column;
            .tit {
                text-align: center;
                font-size: 18px;
                margin: 10px 0;
            }
            .color_box {
                width: 100%;
                height: 100%;
            }
        }
    }
    .icon_list {
        font-size: 32px;
        color: var(--color-dark);
        i {
            margin: 20px 20px;
        }
    }
}
.drawer_list {
    .btn_list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        line-height: 1.5;
        font-size: 16px;
        align-items: center;
        padding: 10px;
        color: var(--color-gray-dark);
        font-weight: 500;
    }
    .btn_sub_depth {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 20px;
    }
}
// sampletab
.lg,
.xl {
    .wrap_tab {
        .tab_content {
            .wrap_content_item {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                gap: 40px;
                align-items: center;
                margin: 40px 30px;

                .img_area {
                }
                .txt_area {
                    width: 30%;
                    .txt {
                        font-weight: 300;
                        color: var(--color-gray-03);
                        text-align: left;
                        line-height: 1.6;
                    }
                }
            }
        }
    }
}

.wrap_tab {
    .tab_content {
        width: 100%;
        min-height: 300px;
        padding: 10px;
        border: 1px solid #efefef;
        & > .tit {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0;
            margin: 20px 20px;
            color: var(--color-info);
        }
        .wrap_content_item {
            display: flex;
            flex-direction: column;
            gap: 40px;
            align-items: center;
            margin: 40px 30px;

            .img_area {
                max-width: 100%;
                .lazy-load-image-background {
                    max-width: 100%;
                }
            }
            .txt_area {
                .txt {
                    font-weight: 300;
                    color: var(--color-gray-03);
                    text-align: center;
                    line-height: 1.6;
                }
            }
        }
    }
}

.sample_swiper {
    padding-bottom: 50px;
    .swiper-button-prev,
    .swiper-button-next {
        margin-top: -180px;
    }
    .swiper-slide {
        min-height: 300px;
        & > .tit {
            text-align: center;
        }
    }
    .swiper-pagination-bullets {
        bottom: 20px;
    }
    .slide_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        .img_area {
            max-width: 100%;
            margin-bottom: 40px;
        }
        .txt_area {
            max-width: 390px;
            line-height: 1.5;
            font-size: 18px;
            color: #555;
            height: 230px;
            overflow: auto;
        }
    }
}
