
// typo
@font-face {
    font-family: "Ionicons";
    src: url("@/../../fonts/woff2/ionicons.woff2");
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: "Pretendard";
//     font-weight: 900;
//     font-display: swap;
//     src:
//         local("Pretendard Black"),
//         url("../fonts/woff2/Pretendard-Black.woff2") format("woff2"),
//         url("/fonts/woff/Pretendard-Black.woff") format("woff");
// }

// @font-face {
//     font-family: "Pretendard";
//     font-weight: 800;
//     font-display: swap;
//     src:
//         local("Pretendard ExtraBold"),
//         url("../fonts/woff2/Pretendard-ExtraBold.woff2") format("woff2"),
//         url("/fonts/woff/Pretendard-ExtraBold.woff") format("woff");
// }

// @font-face {
//     font-family: "Pretendard";
//     font-weight: 700;
//     font-display: swap;
//     src:
//         local("Pretendard Bold"),
//         url("../fonts/woff2/Pretendard-Bold.woff2") format("woff2"),
//         url("/fonts/woff/Pretendard-Bold.woff") format("woff");
// }

// @font-face {
//     font-family: "Pretendard";
//     font-weight: 600;
//     font-display: swap;
//     src:
//         local("Pretendard SemiBold"),
//         url("../fonts/woff2/Pretendard-SemiBold.woff2") format("woff2"),
//         url("/fonts/woff/Pretendard-SemiBold.woff") format("woff");
// }

// // @font-face {
// //     font-family: "Pretendard";
// //     font-weight: 500;
// //     font-display: swap;
// //     src:
// //         local("Pretendard Medium"),
// //         url("/fonts/woff2/Pretendard-Medium.woff2") format("woff2"),
// //         url("/fonts/woff/Pretendard-Medium.woff") format("woff");
// // }

// @font-face {
//     font-family: "Pretendard";
//     font-weight: 400;
//     font-display: swap;
//     src:
//         local("Pretendard Regular"),
//         url("/fonts/woff2/Pretendard-Regular.woff2") format("woff2"),
//         url("/fonts/woff/Pretendard-Regular.woff") format("woff");
// }

// @font-face {
//     font-family: "Pretendard";
//     font-weight: 300;
//     font-display: swap;
//     src:
//         local("Pretendard Light"),
//         url("/fonts/woff2/Pretendard-Light.woff2") format("woff2"),
//         url("/fonts/woff/Pretendard-Light.woff") format("woff");
// }

// @font-face {
//     font-family: "Pretendard";
//     font-weight: 200;
//     font-display: swap;
//     src:
//         local("Pretendard ExtraLight"),
//         url("/fonts/woff2/Pretendard-ExtraLight.woff2") format("woff2"),
//         url("/fonts/woff/Pretendard-ExtraLight.woff") format("woff");
// }

// @font-face {
//     font-family: "Pretendard";
//     font-weight: 100;
//     font-display: swap;
//     src:
//         local("Pretendard Thin"),
//         url("/fonts/woff2/Pretendard-Thin.woff2") format("woff2"),
//         url("/fonts/woff/Pretendard-Thin.woff") format("woff");
// }
.text_800 {
    font-weight: 800 !important;
}
.text_700 {
    font-weight: 700 !important;
}
.text_600 {
    font-weight: 600 !important;
}
.text_400 {
    font-weight: 400 !important;
}
.text_300 {
    font-weight: 300 !important;
}

h1,
.text_h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 1.167;
    color: #333;
}

h2,
.text_h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.167;
    color: #333;
}

h3,
.text_h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.167;
    color: #333;
}

.text_body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.167;
    color: #333;
}
.text_body2 {
    font-size: 18px;
    line-height: 1.5;
}
.text_16 {
    font-size: 16px;
}
.text_24 {
    font-size: 24px;
}
.text_12 {
    font-size: 12px;
    font-weight: 600;
}